.header {
  height: 60px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.header_link {
  color: black;
  text-decoration: none;
}

.header_link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.header_div_logo {
  padding-left: 16px;
  padding-right: 16px;
}

.header_div_logo_img {
  width: 60px;
  height: 60px;
  image-rendering: crisp-edges;
}

/* right side */

.header_div_right_side {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.header_div_right_side_btn {
  background-color: white;
  border: 1px solid grey;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  margin-right: 8px;
  transition-duration: 0.3s;
}
.header_div_right_side_btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.google_img {
  width: 30px;
  height: 30px;
  padding-left: 4px;
}

.list_item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

@media (max-width: 600px) {
  .header_div_right_side_btn {
    display: none;
  }
}
